/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>

/ {
    combos {
        compatible = "zmk,combos";

        Enter {
            bindings = <&kp ENTER>;
            key-positions = <14 15>;
            layers = <0>;
        };

        Escape {
            bindings = <&kp ESC>;
            key-positions = <2 3>;
            layers = <0>;
        };

        backspace {
            bindings = <&kp BACKSPACE>;
            key-positions = <27 26>;
        };
    };

    macros {
        Centrar: Centrar {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_tap>,
                <&kp LCTRL &kp LEFT_ALT &kp LSHIFT &kp C_AC_HOME>;

            label = "CENTRAR";
        };

        cut: cut {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap>, <&kp LCTRL &kp LEFT_SHIFT &kp DELETE>;

            label = "CUT";
        };

        capaCreate: capaCreate {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap>, <&kp LC(Y)>;

            label = "CAPACREATE";
        };

        DuplicarCapa: DuplicarCapa {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap>, <&kp LC(D)>;

            label = "DUPLICARCAPA";
        };

        LayerMask: LayerMask {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap>, <&kp LC(LA(Y))>;

            label = "LAYERMASK";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Cole {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            display-name = "Cole";
            bindings = <
&kp TAB    &kp Q           &kp W        &kp F           &kp P      &kp B        &kp J       &kp L            &kp U       &kp Y    &kp SEMICOLON  &kp ESC
&kp LSHFT  &kp A           &kp R        &kp S           &kp T      &kp G        &kp M       &kp N            &kp E       &kp I    &kp O          &kp MINUS
&kp LCTRL  &mt LEFT_WIN Z  &mt LCTRL X  &kp C           &kp D      &kp V        &kp K       &kp H            &kp COMMA   &kp DOT  &kp FSLH       &mt RSHFT SLASH
                                        &lt 1 LEFT_ALT  &lt 8 TAB  &kp SPACE    &kp RETURN  &lt 2 BACKSPACE  &kp DELETE
            >;
        };

        Funciones {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            display-name = "Func";
            bindings = <
&Centrar  &none  &kp LC(X)  &kp LC(C)  &kp LC(V)        &kp C_BRIGHTNESS_INC    &none            &none           &kp UP_ARROW  &none       &none  &none
&cut      &none  &kp F13    &kp F14    &kp PRINTSCREEN  &kp C_BRI_DEC           &none            &kp LEFT_ARROW  &kp DOWN      &kp RIGHT   &none  &none
&mo 4     &none  &kp LC(Z)  &kp LC(Y)  &kp LC(S)        &kp C_VOL_DN            &kp C_VOLUME_UP  &kp K_PREV      &kp K_PP      &kp K_NEXT  &none  &to 6
                            &kp LGUI   &trans           &kp SPACE               &kp SPACE        &mo 3           &kp RALT
            >;
        };

        Simbolos {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            display-name = "Symb";
            bindings = <
&none  &kp EXCLAMATION  &kp AT  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp PRCNT    &kp EQUAL        &kp LESS_THAN  &kp GREATER_THAN  &none          &none          &kp BSPC
&none  &none            &none   &kp LEFT_BRACE        &kp RIGHT_BRACE        &none        &kp EXCLAMATION  &kp HASH       &kp SLASH         &kp BACKSLASH  &kp PIPE       &kp DLLR
&none  &none            &none   &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &none        &none            &kp GRAVE      &kp CARET         &kp AT         &kp AMPERSAND  &kp TILDE
                                &kp LGUI              &mo 4                  &kp SPACE    &kp RET          &mo 3          &kp RALT
            >;
        };

        Numbs {
            display-name = "Numbs";
            bindings = <
&none  &kp F1  &kp F2   &kp F3        &kp F4   &none        &kp KP_PLUS      &kp NUMBER_7  &kp N8    &kp N9        &kp KP_MINUS  &none
&none  &kp F5  &kp F6   &kp F7        &kp F8   &none        &kp KP_MULTIPLY  &kp NUMBER_4  &kp N5    &kp NUMBER_6  &kp SLASH     &none
&none  &kp F9  &kp F10  &kp F11       &kp F12  &none        &kp NUMBER_0     &kp N1        &kp N2    &kp N3        &kp N0        &none
                        &kp LEFT_GUI  &trans   &kp SPACE    &kp SPACE        &trans        &kp RALT
            >;
        };

        extra_2 {
            display-name = "After";
            bindings = <
&none   &DuplicarCapa    &LayerMask       &cut             &none   &none        &none      &none   &none     &none  &none  &none
&none   &Centrar         &capaCreate      &DuplicarCapa    &none   &none        &none      &none   &none     &none  &none  &none
&trans  &rgb_ug RGB_HUD  &rgb_ug RGB_SAD  &rgb_ug RGB_BRD  &none   &none        &none      &none   &none     &none  &none  &none
                                          &kp LEFT_GUI     &trans  &kp SPACE    &kp SPACE  &trans  &kp RALT
            >;
        };

        extra_3 { status = "reserved"; };

        Gaming {
            bindings = <
&kp ESC       &kp TAB           &kp Q  &kp W  &kp E         &kp R        &kp Y      &kp U          &kp I      &kp O    &kp P     &trans
&kp LEFT_ALT  &kp LEFT_SHIFT    &kp A  &kp S  &kp D         &kp F        &kp H      &kp J          &kp K      &kp L    &kp SEMI  &trans
&kp LEFT_WIN  &kp LEFT_CONTROL  &kp Z  &kp X  &kp C         &kp V        &kp N      &kp M          &kp COMMA  &kp DOT  &trans    &to 0
                                       &mo 7  &kp LEFT_WIN  &kp SPACE    &kp ENTER  &kp BACKSPACE  &kp DEL
            >;

            label = "Game";
        };

        GAM1 {
            bindings = <
&kp F14       &trans  &kp N1  &kp N2  &kp NUMBER_3  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&kp F13       &trans  &trans  &trans  &kp N5        &trans    &trans  &trans  &trans  &trans  &trans  &trans
&kp LEFT_WIN  &trans  &trans  &trans  &kp NUMBER_6  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                              &trans  &trans        &trans    &trans  &trans  &trans
            >;
        };

        Maya {
            bindings = <
&trans  &kp LC(N1)  &kp LC(N3)  &trans  &kp LC(H)  &kp LS(H)    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans      &trans      &trans  &trans     &trans       &trans  &trans  &trans  &trans  &trans  &trans
&trans  &kp LC(E)   &trans      &kp W   &kp E      &kp R        &trans  &trans  &trans  &trans  &trans  &trans
                                &trans  &trans     &trans       &trans  &trans  &trans
            >;

            label = "Maya";
        };
    };
};
